<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
  {% block content %}
<div django-app="TaskManager">
    <div class="container">
      <br>
      <h1>MY TASKS</h1>
      <br>
      <div class="centerstage">
        <ul class="taskList">
        {% for todo in todolist_list %}
            <li class="taskItem">
                <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}">
                <label for="{{ todo.id }}"><span class="complete-"> <a href=" {% url 'remove' pk=todo.id %}">{{ todo.title }}</a> </span></label>
                <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created|date:"d M Y" }} - {{ todo.due_date|date:"d M Y" }}</strong>
            </li>
        {% endfor %}
        </ul>
        <div class="row">
<a href="{% url 'add' %}" class="btn btn-md btn-info"><span class="glyphicon glyphicon-plus"></span>ADD TASKS</a>
</div>
</div>
</div>
</div>
{% endblock %}
</body>
</html>
